 nav li a {
  background:#30CF54;
  display:block;
  padding: 10px 15px;
  text-decoration: none;
  } 
  nav li a:hover {
  background: #ffffff;
  }
  nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
    text-decoration: none;
   }
  nav li:hover > ul {
    background: #30CF54;
    color: #000000;
    transition: 0.5s;
    display: block;
    z-index: 1000;
    margin-top: 0px;
  }
  nav li ul li {
  position:relative;
  }
  nav li ul li ul {
  right:-100px;
  top:0;
   }
header{
  position: relative;
  max-width: 1400px;
  margin: 1px auto;
  padding: 1px;
  background: #30CF54;
  border-radius: 8px;
  height: 50px;
}
#logo{
  color: #ffff;
  height: 60px;
  font-size: 35px;
  line-height: 30px;
  padding: 0 30px;
  text-align: center;
  box-sizing: border-box;
  float: left;
  text-decoration: none;
}
.clearfix{
  clear: both;
}
nav{
  float: right;
  background: #30CF54;
  height: 50px;
}
nav ul{
 margin: 0;
  padding: 0;
  display: flex;
}
nav ul li{
  list-style: none;
}
nav ul li a{
  text-decoration: none;
  display: block;
  margin: 0px 0px;
  padding: 12px 30px;
  color: #000000;
  font-weight: bold;
}
nav ul li a.active,
nav ul li a:hover
{
  background: #ffffff;
  color: #000000;
  transition: 0.5s;
}

/*media*/
@media (max-width: 1200px){
  header{
    margin: 5px;
  }
  nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
   }
}
@media (max-width: 790px){
   nav li:hover > #submenu {
    background: #30CF54;
    color: #000000;
    transition: 0.5s;
    display: block;
    position: relative;
    }
  .menu-toggle{
    display: block;
    width: 40px;
    height: 40px;
    margin: 2px;
    float: right;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: #000000;
  }
  .menu-toggle:before{
    content: '\f0c9';
    font-family: fontAwesome; 
   line-height: 40px;
  }
  .menu-toggle.active:before{
    content: '\f00d';
  }
  
  nav{
    display: none;
  }
  #submenu{
    display: none;
  }
  nav.active{
    display: block;
    width: 100%;
  }
  nav.active ul{
    display: block;

  }

}

@media (max-width: 390px){

  .nav-social{
    margin-left: 0px;
  }
}



/*footer*/
footer{
  width: 100%;
  background: #202020;
  color: white;
}
.container-footer-all{
width: 100%;
max-width: 1400px;
}
.container-body{
  display: flex;
}
.frase{
  font-size: 18px;
  max-width: 400px;
  margin-left: 50px;
  margin-top: 100px;
  text-align: center;
}
.container-footer{
  background: #101010;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 15px;
  text-decoration: none;
}
.logo img{
  font-size: 50px;
  max-width: 400px;
  margin-top: 40px;
  margin-left: 50px;
  margin-bottom: 40px;
}
.copyright {
  font-size: 12px;
  margin-top: 7px;
}
.informacion a{
  text-decoration: none;
  color: white;
}
.informacion a:hover{
  color: #30CF54;
}
.contacto h1{
  font-size: 20px;
  text-align: center;
}
.contacto{
  max-width: 400px;
}
.contacto{
  margin-top: 40px;
  margin-left: 50px;
}
.contacto img{
  width: 25px;
  height: 25px;
}
.contacto label{
  margin-left: 9px;
  margin-top: 15px;
  font-size: 14px;
}
/*adaptabilidad para footer*/
@media screen and (max-width:790px){
  .container-body{
  display: block;
  }
  .container-body .logo img{
    max-width: 80%;
  }

  .frase,
  .contacto{
    margin-left: 20px;
    margin-top: 20px;
  }
}

.social a{
  color:white;
  margin-right: 5px;
  text-decoration: none;
  font-size: 17px;
  margin-top: 2px;
}
.fa{
  color:white;
  text-decoration: none;
  padding: .5rem;
  display: flex;
  border-radius: 1rem 1rem 1rem 1rem;
}
.fa-facebook{
  background: #2E406E;
}
.fa-twitter{
  background: #339DC5;
}
.fa-instagram{
  background: #3F729B;
 
}
.fa-youtube{
  background: #E83028;
}
.container{
  width: 100%;
  display: flex;
  max-width: 1600px;

}
.container-fecha{
  display: flex;
  margin-top: 3px;
  max-width: 300px;
  margin-left: 50px;
  font-size: 17px;
  color: #000000;
}
.nav-social{
  max-width: 200px;
  margin-bottom: 0px;
  margin-left: 1000px;
  margin-top: 3px;
}
.nav-social a{
  font-size: 8px;
  text-decoration: none;
}

@media screen and (max-width:950px){
  .container{
display: flex;  
}
.nav-social{
  margin-left: 200px;
}

.container-fecha{
  margin-right: 10px;
  margin-left: 0px;
}

}



.slider {
  margin: 5px auto;
  width: 95%;
  background-color: #E7F6F6;
  border: 1px solid #99cccc;
  display: flex;
  align-items: left;
  }
  
.slider{
  display: flex;
  max-width: 1400px;
}
   /*slider noticias*/
  #imagen1 {
    position: relative;
    width: 50%;
    width: 550px; 
    height: 400px;
    max-width: 600px;
    margin-left: 80px;
  }
  
  /* Make the image to responsive */
  #image {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  /* The overlay effect - lays on top of the container and over the image */
  .titulo {
    max-width: 600px;
    position: absolute; 
    bottom: 0; 
    background: rgba(0, 0, 0, 0.6); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    color: white;
    font-size: 25px;
    padding: 20px;
    text-align: left;
  }
  .titulo p{
    font-size: 15px;
    bottom: 0; 
    color: white;
    text-align: justify;
  }
 /* Bottom right text */
  .text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

/*noticias*/
  .hero-area {
    max-width: 1200px;
    margin-left: 80px;
    position: relative;
    z-index: 1;
    background-color: white;
    padding: 5px;
    border: 1px #30CF54 solid;
    box-shadow: 3px 3px 0px #30CF54;
  }
    .hero-single-section {
        position: relative;
        z-index: 1;
        flex:(0 0 50%);
        max-width: 50%;
        width: 50%;
    }
        @media #{$breakpoint-xs} {
            flex:(0 0 100%);
            max-width: 100%;
            width: 100%;
        }
    

    .item1 {
        height: 480px;
        margin: 5px;
    }
        @media #{$breakpoint-lg} {
            height: 600px;
        }
        @media #{$breakpoint-md} {
            height: 500px;
        }
        @media #{$breakpoint-xs} {
            height: 350px;
        }
    
    .item2 {
        height: 250px;
        margin: 5px;
    }
        @media #{$breakpoint-lg} {
            height: 290px;
        }
        @media #{$breakpoint-md} {
            height: 240px;
        }
        @media #{$breakpoint-xs} {
            height: 200px;
        }
    
    .item3 {
        height: 220px;
        flex:(0 0 calc(50% - 10px));
        max-width: calc(50% - 10px);
        width: calc(50% - 10px);
        margin: 5px;}

        @media #{$breakpoint-lg} {
            height: 300px;
        }
        @media #{$breakpoint-md} {
            height: 250px;
        }
        @media #{$breakpoint-xs} {
            height: 200px;
        }
        /*centrar imagenes en los recuadros*/
        .bg-img {
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
      }
    .item4 {
        height: 220px;
        flex:(0 0 calc(50% - 10px));
        max-width: calc(50% - 10px);
        width: calc(50% - 10px);
        margin: 5px;
    }
        @media #{$breakpoint-lg} {
            height: 300px;
        }
        @media #{$breakpoint-md} {
            height: 250px;
        }
        @media #{$breakpoint-xs} {
            height: 200px;
        }

        .single-blog-post {
          position: relative;
          z-index: 1;
        }
          .blog-content 
              .post-title {
                position: absolute; 
    bottom: 1; 
    background: rgba(0, 0, 0, 0.6); /* Black see-through */
    width: 100%;
    color: white;
    font-size: 25px;
    padding: 20px;
    text-align: left;
                  text-transform: uppercase;
                  font-size: 12px;
                  display: block;
                  font-weight: 700;
                  margin-bottom: 15px;
              }
                  /* hover{
                      color: $hover-color;
                  } */
                  @media #{$breakpoint-xs} {
                      font-size: 10px;
                  }
              }
              .post-title {
                  font-weight: 600;
                  font-size: 30px;
                  display: block;
                  color: white;
                  margin-bottom: 10px;
              }
                  @media #{$breakpoint-lg} {
                      font-size: 24px;
                  }
                  @media #{$breakpoint-md} {
                      font-size: 20px;
                  }
                  @media #{$breakpoint-xs} {
                      font-size: 16px;
                  }
                  /* &:hover,
                  &:focus {
                      color: $hover-color;
                  } */
              }
              .post-meta a{
                  display:flex;
                          
                      color: white;
                      margin-right: 15px;
                      font-size: 11px;
                      line-height: 1;
                      display:flex;
                  }
                      @media #{$breakpoint-md} {
                          font-size: 9px;
                      }
                      @media #{$breakpoint-xs} {
                          font-size: 8px;
                          margin-right: 5px;
                      }
                      img {
                          margin-right: 10px;
                      }
                      /* &:last-child {
                          margin-right: 0;
                      }
                      &:hover,
                      &:focus {
                          color: $hover-color;
                      } */

           .white 
              .blog-content 
                  .post-title,
                  .post-tag,
                  .post-meta a {
                      color: white;
                      /* hover,
                      &:focus {
                          color: $hover-color;
                      } */
                  }
          .style2 
              .blog-content 
                  .post-title {
                      font-size: 24px;
                  }
                      @media #{$breakpoint-lg} {
                          font-size: 20px;
                      }
                      @media #{$breakpoint-md} {
                          font-size: 20px;
                      }
                      @media #{$breakpoint-xs} {
                          font-size: 18px;
                      }
                  
                  .post-meta 
                      a {
                          font-size: 11px;
                      }
                          @media #{$breakpoint-lg} {
                              font-size: 8px;
                          }
                          @media #{$breakpoint-md} {
                              font-size: 9px;
                          }
                          @media #{$breakpoint-xs} {
                              font-size: 9px;
                          }
          .style3 
              .blog-content 
                  .post-title {
                      font-size: 20px;
                  }
                  .post-title 
                      {
                          font-size: 3px;
                      }
                          @media #{$breakpoint-lg} {
                              font-size: 10px;
                          }
                      
          .style4 
              .blog-thumb {
                  display:flex(0 0 50%);
                  max-width: 50%;
                  width: 50%;
                  padding-right: 15px;
              }
              .blog-content {
                  display:flex(0 0 50%);
                  max-width: 50%;
                  width: 50%;
              }
                  .post-tag {
                      font-size: 10px;
                  }
                  .post-title {
                      font-size: 15px;
                  }
                      @media #{$breakpoint-lg} {
                          font-size: 14px;
                      }
                      @media #{$breakpoint-xs} {
                          font-size: 14px;
                      }
                      @media #{$breakpoint-sm} {
                          font-size: 16px;
                      }
                  .post-meta 
                      a {
                          font-size: 11px;
                      }

      .blog-content .post-title .post-tag{
        position: absolute; 
    bottom: 0; 
    background: rgba(0, 0, 0, 0.6); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    color: white;
    font-size: 25px;
    padding: 20px;
    text-align: left;
      }
                  
              







  